@{
    ViewData["Title"] = "Change Password Success";
}

<h2>Change Password Success</h2>

<p>Your password has been successfully changed.</p>

<p><a asp-controller="Home" asp-action="Index">Home</a></p>
