<style>
    a:hover {
        color: #4CAF50;
    }

    ul li a {
        color: gray;
    }
</style>
<ul style="list-style:none">
    @foreach (var item in Model)
    {
        <li>
            <a style="font-weight:500;font-size:14px;margin-left:-20%"
               asp-controller="Products" asp-action="Index" asp-route-brand="@item.Brand">
                @item.Brand (@item.Count)
            </a>
        </li>
    }
</ul>