@model Application.Dtos.CategoryDto
<style>
    .card_style_category:hover {
        border: 1px solid #8ac926;
        box-shadow: 0 0 2px 0 rgba(138, 201, 38, 1)
    }

    a {
        text-decoration: none;
    }

    p {
        color: black;
        font-weight: 400;
        font-size: 15px;
    }
</style>

<a asp-controller="Products" asp-action="Index" asp-route-categoryStr="@Model.Name" style="color:gray">
    <div class="mt-2">
        <div class="card card_style_category text-center m-2" style="border-radius:10px;line-height:0;">
            <div class="card-body">
                <img src="@Model.ImageUrl" style="height: 100px; object-fit: contain" alt="">
                <p class="mt-2">@Model.Name</p>
            </div>
        </div>
    </div>
</a>






