<div class="container" style="background-color:aliceblue">
    <div class="row">
        <div class="col-md-2">
            <img src="~/images/5203299.jpg" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-10">
            <h1>There are no products matching your search.</h1>
            <ul>
                <li>
                    Check the spelling of the word.
                </li>
                <li>
                    Use more generic words or fewer words.
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index">Search Categories</a> to find a similar product.
                </li>
            </ul>
        </div>
    </div>
</div>