<link rel="stylesheet" href="~/css/Smartphone.css" asp-append-version="true" />

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

                <h6 class="heading-xxs mb-3 text-gray-400">
                    New Collection
                </h6>
                <h2 class="mb-4">Tech Symphony: A Melody of Innovation and Futuristic Designs</h2>

                <p class="mb-10 text-gray-500">
                    Amidst the tech landscape, where innovation converges and trends ascend, sleek engineering meets dynamic functionality. Devices infuse the market with cutting-edge designs, illuminating the path to technological evolution.
                </p>

            </div>
        </div>
    </div>
</section>

<div class="py-3 mb-4">
    <div class="container" id="ticker_smartphone">
        <ul>
            <li><img src="/images/Brands/asus.png" alt="Mango" class="ticker_images"></li>
            <li><img src="/images/Brands/samsung.png" alt="Adidas" class="ticker_images"></li>
            <li><img src="/images/Brands/multilaser.png" alt="Reebok" class="ticker_images"></li>
            <li><img src="/images/Brands/iphone.png" alt="Zara" class="ticker_images"></li>
            <li><img src="/images/Brands/infinix.png" alt="Bershka" class="ticker_images"></li>
            <li><img src="/images/Brands/motorola.png" alt="Asos" class="ticker_images"></li>
            <li><img src="/images/Brands/xiaomi.png" alt="Stradivarius" class="ticker_images"></li>
        </ul>
    </div>
    <hr class="bg-secondary mt-3" />
</div>

<!-- DISCOVER -->
<section class="pt-7 pt-md-9" style="margin-top:7%">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <hr class="hr-sm bg-primary w-25" style="height:5px">
                <p class="fs-lg  text-black mb-5 mb-md-0" style="font-weight:600;font-size:15px">
                    Power in the palm of your hand.
                </p>
            </div>
            <div class="col-md-3">
                <div class="media-decoration media-decoration-1 mb-5 mb-md-0 position-relative">
                    <div class="square"></div>
                    <a href="#">
                        <img class="media-decoration-img img-fluid" src="~/images/assets/smarphones/iphone.jpg" alt="...">
                    </a>
                    <div class="square2"></div>
                </div>
            </div>

            <div class="col-md-4 align-self-center mx-auto">
                <h2 class="mb-2">
                    <em>Always</em> amazing experience
                </h2>
                <p class="mb-0 text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<section class="carousel container py-12 mt-5">
    <hr class="bg-secondary" />
    <partial name="~/Views/Shared/Components/SmartphonesMenu/AppleViewPartial.cshtml" for="@Model" />
    <hr class="bg-secondary" />
</section>

<!-- DISCOVER -->
<section class="py-7 py-md-9" style="margin-top:7%">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 align-self-center mx-auto">
                <h2 class="mb-2">
                    <em>Next</em> wave devices
                </h2>
                <p class="mb-0 text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
                </p>
            </div>
            <div class="col-md-2 align-self-end">
                <hr class="hr-sm bg-primary w-25" style="height:5px">
                <p class="fs-lg  text-black mb-5 mb-md-0" style="font-weight:600;font-size:15px">
                    Embrace the freedom of technology.
                </p>
            </div>
            <div class="col-md-3">
                <div class="media-decoration media-decoration-1 mb-5 mb-md-0 position-relative">
                    <div class="square"></div>
                    <a href="#">
                        <img class="media-decoration-img img-fluid" src="~/images/assets/smarphones/samsung.jpg" alt="...">
                    </a>
                    <div class="square2"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<section class="carousel container py-12 mt-5">
    <hr class="bg-secondary" />
    <partial name="~/Views/Shared/Components/SmartphonesMenu/SamsungViewPartial.cshtml" for="@Model" />
    <hr class="bg-secondary" />
</section>

<section style="margin-top:5%" class="mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                <h6 class="heading-xxs mb-3 text-gray-400">
                    MOST SEARCHED
                </h6>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <a href="#">
                <div class="card text-white position-relative">
                    <figure class="figure m-0">
                        <img src="~/images/assets/smarphones/iphonephone.png" class="figure-img img-fluid" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="#">
                <div class="card text-white position-relative">
                    <figure class="figure m-0">
                        <img src="~/images/assets/smarphones/samsungphone.png" class="figure-img img-fluid" alt="">
                    </figure>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="#">
                <div class="card text-white position-relative">
                    <figure class="figure m-0">
                        <img src="~/images/assets/smarphones/motorola.png" class="figure-img img-fluid" alt="">
                    </figure>
                </div>
            </a>
        </div>
    </div>
</div>
<section style="margin-top:7%" class="mb-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                <h6 class="heading-xxs mb-3 text-gray-400">
                    SHOP BY PRICE RANGE
                </h6>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card cardsHover">
                    <a href="#">
                        <div style="line-height:20px" class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h6 class="card-title">Until</h6>
                            <p class="card-text text-secondary" style="font-weight:400;font-size:2rem">$999</p>
                            <span href="#" class="text-primary ">View offers ></span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cardsHover">
                    <a href="#">
                        <div style="line-height:20px" class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h6 class="card-title">Until</h6>
                            <p class="card-text text-secondary" style="font-weight:400;font-size:2rem">$1999</p>
                            <span href="#" class="text-primary ">View offers ></span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card cardsHover">
                    <a href="#">
                        <div style="line-height:20px" class="card-body d-flex flex-column justify-content-center align-items-center">
                            <h6 class="card-title">Above</h6>
                            <p class="card-text text-secondary" style="font-weight:400;font-size:2rem">$1999</p>
                            <span href="#" class="text-primary ">View offers ></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="carousel container py-12 mt-5">
    <partial name="~/Views/Shared/Components/SmartphonesMenu/AllProductsViewPartial.cshtml" for="@Model" />
    <hr class="bg-secondary" />
</section>


