<div class="dropdown d-none d-sm-block" id="category-dropdown">
    <a class="btn dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="tree" aria-expanded="false"
       style="width:160px;color:gray;font-size:14px;font-weight:600;border: 1px solid #8ac926">
        <i class="bi bi-list-ul" style="color:#8ac926; font-size: 1em;"></i>
        All Departments
    </a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li>
                <a style="font-weight:600;color:gray;font-size:14px" class="dropdown-item" asp-controller="Products" asp-action="IndexCategory" asp-route-categoryStr="@item.Name">
                    @item.Name
                </a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a style="font-weight:600;color:gray;font-size:14px" class="dropdown-item" asp-controller="Products" asp-action="Index">
                All Products
            </a>
        </li>
    </ul>
</div>


<script>
    const dropdown = document.getElementById('category-dropdown');
    dropdown.addEventListener('mouseenter', function () {
        const dropdownToggle = this.querySelector('.dropdown');
        dropdownToggle.classList.add('show');
        const dropdownMenu = this.querySelector('.dropdown-menu');
        dropdownMenu.classList.add('show');
    });
    dropdown.addEventListener('mouseleave', function () {
        const dropdownToggle = this.querySelector('.dropdown');
        dropdownToggle.classList.remove('show');
        const dropdownMenu = this.querySelector('.dropdown-menu');
        dropdownMenu.classList.remove('show');
    });
</script>

