<link rel="stylesheet" href="~/css/Fashion.css" asp-append-version="true" />

<div class="py-3 mb-4">
    <div class="container" id="ticker">
        <ul id="ticker-list">
            <li><img src="/images/Brands/mango.svg" alt="Mango" class="ticker_images"></li>
            <li><img src="/images/Brands/adidas.svg" alt="Adidas" class="ticker_images"></li>
            <li><img src="/images/Brands/reebok.svg" alt="Reebok" class="ticker_images"></li>
            <li><img src="/images/Brands/zara.svg" alt="Zara" class="ticker_images"></li>
            <li><img src="/images/Brands/bershka.svg" alt="Bershka" class="ticker_images"></li>
            <li><img src="/images/Brands/asos.svg" alt="Asos" class="ticker_images"></li>
            <li><img src="/images/Brands/stradivarius.svg" alt="Stradivarius" class="ticker_images"></li>
        </ul>
    </div>
</div>
<!-- CATEGORIES -->
<section>
    <div class="row remove-gutters no-gutters gx-0 d-block d-lg-flex">

        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
            <div class="card text-center">
                <div class="card-body mt-auto">
                    <a href="#">
                        <figure class="figure m-0">
                            <img src="~/images/assets/adidas.jpg" class="figure-img img-fluid" alt="">
                        </figure>
                        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title-categories">Puma</h5>
                            <span class="btn-categories"> <span>Shop now <i class="fa-solid fa-arrow-right" style="font-size:12px"></i></span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
            <div class="card text-center">
                <div class="card-body mt-auto">
                    <a href="#">
                        <figure class="figure m-0">
                            <img src="~/images/assets/nike1.jpg" class="figure-img img-fluid" alt="">
                        </figure>
                        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title-categories">Nike</h5>
                            <span class="btn-categories"><span>Shop now <i class="fa-solid fa-arrow-right" style="font-size:12px"></i></span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
            <div class="card text-center">
                <div class="card-body mt-auto">
                    <a href="#">
                        <figure class="figure m-0">
                            <img src="~/images/assets/puma.jpg" class="figure-img img-fluid" alt="">
                        </figure>
                        <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                            <h5 class="card-title-categories">Adidas</h5>
                            <span class="btn-categories"><span>Shop now <i class="fa-solid fa-arrow-right" style="font-size:12px"></i></span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FEATURES -->
<section class="pt-7" style="padding-left:5%">
    <div class="container ">
        <div class="row pb-7 ">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="d-flex mb-6 mb-lg-0">
                    <i class="bi bi-truck fs-lg text-success" style="padding-right:10px"></i>
                    <div class="ms-6">
                        <h6 class="heading-xxs mb-1">
                            Free shipping
                        </h6>
                        <p class="mb-0 fs-sm text-muted">
                            From all orders over $100
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="d-flex mb-6 mb-lg-0">
                    <i class="bi bi-repeat fs-lg text-success" style="padding-right:10px"></i>
                    <div class="ms-6">
                        <h6 class="mb-1 heading-xxs">
                            Free returns
                        </h6>
                        <p class="mb-0 fs-sm text-muted">
                            Return money within 30 days
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="d-flex mb-6 mb-md-0">
                    <i class="bi bi-lock fs-lg text-success" style="padding-right:10px"></i>
                    <div class="ms-6">
                        <h6 class="mb-1 heading-xxs">
                            Secure shopping
                        </h6>
                        <p class="mb-0 fs-sm text-muted">
                            You're in safe hands
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="d-flex">
                    <i class="bi bi-tag fs-lg text-success" style="padding-right:10px"></i>
                    <div class="ms-6">
                        <h6 class="mb-1 heading-xxs">
                            Over 10,000 Styles
                        </h6>
                        <p class="mb-0 fs-sm text-muted">
                            We have everything you need
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="bg-secondary" />
<!--  New Collection -->
<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
                <h6 class="heading-xxs mb-3 text-gray-400">
                    New Collection
                </h6>
                <h3 class="mb-4">Runway Fusion: A Palette of Styles and Vibrant Trends</h3>
                <p class="mb-10 text-gray-500">
                    Within the fashion realm, where styles merge and trends soar, dry couture meets vibrant essence. Models infuse the runway with vivid palettes, breathing life into fashion's sky.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
                <div class="card text-center">
                    <div class="card-body mt-auto">
                        <a href="#">
                            <div class="card text-white position-relative">
                                <figure class="figure m-0">
                                    <img src="~/images/assets/fashionWoman2.jpg" class="figure-img img-fluid" alt="">
                                </figure>
                                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                                    <h5 class="card-title" style="font-weight:600; font-size:2.5rem">Woman Collection</h5>
                                    <span>Shop Now <i class="fa-solid fa-arrow-right" style="font-size:12px"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex flex-column">
                <div class="card text-center">
                    <div class="card-body mt-auto">
                        <a href="#">
                            <div class="card text-white position-relative">
                                <figure class="figure m-0">
                                    <img src="~/images/assets/manShirts.jpg" class="figure-img img-fluid" alt="">
                                </figure>
                                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                                    <h5 class="card-title" style="font-weight:600; font-size:2.5rem">Men's Clothing</h5>
                                    <span>Shop Now <i class="fa-solid fa-arrow-right" style="font-size:12px"></i></span>
                                </div>
                            </div>
                        </a>
                        <hr class="hr-sm bg-primary w-25" style="height:5px">
                        <p class="mb-0 text-secondary">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-6 col-lg-6 d-flex flex-column">
                <div class="card text-center">
                    <div class="card-body mt-auto">
                        <a href="#">
                            <div class="card text-white position-relative">
                                <figure class="figure m-0">
                                    <img src="~/images/assets/fashionWoman.jpg" class="figure-img img-fluid" alt="">
                                </figure>
                                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                                    <h5 class="card-title" style="font-weight:600; font-size:2.5rem">Women Clothing</h5>
                                    <span>Shop Now <i class="fa-solid fa-arrow-right" style="font-size:12px"></i></span>
                                </div>
                            </div>
                        </a>
                        <hr class="hr-sm bg-primary w-25" style="height:5px">
                        <p class="mb-0 text-secondary">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column">
                <div class="card text-center">
                    <div class="card-body mt-auto">
                        <a href="#">
                            <div class="card text-white position-relative">
                                <figure class="figure m-0">
                                    <img src="~/images/assets/nike.jpg" class="figure-img img-fluid" alt="">
                                </figure>
                                <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                                    <h5 class="card-title" style="font-weight:600; font-size:2.5rem">Shoes Collection</h5>
                                    <span>Shop Now <i class="fa-solid fa-arrow-right" style="font-size:12px"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<div class="py-3 bg-dark" style="margin-top:7%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-4 col-sm-3 col-md mb-4">
                        <a href="#">
                            <img src="/images/Brands/mango.svg" alt="..." class="img-fluid">
                        </a>
                    </div>
                    <div class="col-4 col-sm-3 col-md mb-4">
                        <a href="#">
                            <img src="/images/Brands/adidas.svg" alt="..." class="img-fluid">
                        </a>
                    </div>
                    <div class="col-4 col-sm-3 col-md mb-4">
                        <a href="#">
                            <img src="/images/Brands/reebok.svg" alt="..." class="img-fluid">
                        </a>
                    </div>
                    <div class="col-4 col-sm-3 col-md mb-4">
                        <a href="#">
                            <img src="/images/Brands/zara.svg" alt="..." class="img-fluid">
                        </a>
                    </div>
                    <div class="col-4 col-sm-3 col-md mb-4">
                        <a href="#">
                            <img src="/images/Brands/bershka.svg" alt="..." class="img-fluid">
                        </a>
                    </div>
                    <div class="col-4 col-sm-3 col-md mb-4">
                        <a href="#">
                            <img src="/images/Brands/asos.svg" alt="..." class="img-fluid">
                        </a>
                    </div>
                    <div class="col-4 col-sm-3 col-md mb-4">
                        <a href="#">
                            <img src="/images/Brands/stradivarius.svg" alt="..." class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="carousel container py-12 mt-5">
    <partial name="~/Views/Shared/Components/FashionMenu/AllProductsViewPartial.cshtml" for="@Model" />
    <hr class="bg-secondary" />
</section>


