#ticker {
    overflow: hidden;
    height:50px;
    position: relative;
    background-color: #000;
}

    #ticker ul {
        list-style-type: none;
        padding-left: 0;
        white-space: nowrap;
        animation: tickerAnimation 12s linear infinite;
    }

    #ticker li {
        display: inline;
        padding: 0 20px;
        font-weight: bold;
    }

@keyframes tickerAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.ticker_images {
    width: 100px;
    height: 50px;
}

.py-3 {
    padding-bottom: 0.75rem !important;
    padding-top: 0.75rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.card {
    overflow: hidden;
    border: none;
    border-radius: 0px;
}

    .card:hover .custom-button {
        opacity: 1;
    }

    .card:hover .fa-arrow-right {
        transform: translateX(5px);
    }

    .card img {
        filter: brightness(90%);
        transition: filter 0.3s ease;
    }

    .card:hover img {
        filter: brightness(70%);
    }

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-title-categories {
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
}

.btn-categories {
    font-size: 1rem;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255);
    margin-top: 75%;
    font-weight: 600;
}

    .btn-categories span {
        color: #000;
    }


.remove-gutters .row {
    margin-left: 0;
    margin-right: 0;
}

.remove-gutters [class*='card-'] {
    padding-left: 0;
    padding-right: 0;
}


.col {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .col:hover .custom-button {
        opacity: 1;
    }

    .col:hover .fa-arrow-right {
        transform: translateX(5px);
    }

.fa-arrow-right {
    transition: transform 0.3s ease;
}
.fa-chevron-left, .fa-chevron-right {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.fa-chevron-left {
    left: -5px;
}

.fa-chevron-right {
    right: -5px;
}