html, body {
    height: 100%;
}

.container_layout {
    min-height: 100%;
    margin-bottom: 1%;
    padding-bottom: 25px;
}

    .container_layout a {
        color: gray;
    }

        .container_layout a:hover {
            color: rgba(186, 197, 208, 1);
        }

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bar:focus {
    border: 1px solid;
    border-color: #8ac926;
    box-shadow: 0px 0px 2px 0px rgba(138, 201, 38, 1)
}

a {
    text-decoration: none;
}

/*@keyframes spin {
    to {
        transform: rotate(360deg);
    }

    from {
        transform: rotate(0deg);
    }
}

@keyframes background-transform {
    0% {
        background-color: #e2e2e2;
    }

    100% {
        background-color: limegreen;
    }
}

@keyframes icon-appear {
    0% {
        display: none;
    }

    100% {
        display: flex;
    }
}

.btn-primary {
    height: 56px;
    width: 250px;
    background-color: #e2e2e2;
    border-radius: 0.25rem;
    padding: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.loading-spinner {
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: spin 1s linear infinite;
}

.check-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: limegreen;
    display: none;
}

.loading .loading-spinner {
    animation: spin 1s linear infinite;
}

.success .check-icon {
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: dodgerblue;
    animation-name: icon-appear;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.success {
    animation: background-transform 100ms linear forwards 1s;
}

.error {
    background-color: red;*/ /* Adicione a cor vermelha para a classe de erro */
/*}*/
